* text=auto
client/** text
server/** text
docker-compose.yml text
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.yml text
*.yaml text
*.md text
*.html text
*.css text
*.scss text
*.woff binary
*.woff2 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg text